{% load static %}

<link rel="stylesheet" href="{% static "armenwebsite/style.css" %}" />

<div class="topnav">
 <a class="active" href="/site/index">Home</a>
 <a href="/site/arcade">Snake</a>
</div>

<br/>

<div class="mainbox">
  <br/>
  <h3>About</h3>
  <p>I'm Armen, a 4th year CS undergraduate at Northeastern. My coursework includes Object Oriented Design, Computer Graphics, Algorithms, and Database design.</p>
  <p> While you're here please enjoy some classic snake game, made in javascript, and download a copy of my resume</p>
  <a href="{% static "armenwebsite/Armen_Rissmiller_Resume.pdf"%}" download>Download a PDF of my Resume here</a>
   <br/>
   <br/>
</div>
